<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="main.js"></script>
    <title>Calculator</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="calculator grid" >
        <div class="display">
          <div class="display__top"> {{ previousNumber }} <span> {{ currentOperation }} </span> </div>
          <div class="display__bottom"> {{ currentNumber }} </div>
        </div>
        <div class="numbers-panel">
          <button class="btn num" @click="input(num)" v-for="num in numbers">
            {{ num }}
          </button>
        </div>
        <div class="operators">
          <button class="btn operator" @click="operation(operator)" v-for="operator in operators">
            {{ operator }}
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
